.header {
  position: relative;
  padding: 65px 0 0;
  margin: 0;
  background: url("../img/logo-text.svg") no-repeat center 23px;
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 24px;
}
