.example {
  display: flex;
  margin: 0;
  padding: 26px 0 40px 0px;
  background-color: #eaeaea;
  flex-direction: column;

  @media (min-width: @t) {
    padding: 46px 0 0 0;
    border-top: 1px solid #f2f2f2;
    background-color: #ffffff;

    @media (min-width: @d) {
      padding: 42px 40px 89px;
      border-top: none;
      flex-direction: row;
    }
  }
}

.example__block {
  padding: 0;
  margin: 0;

  @media (min-width: @d) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}

.example__wrapper {
  padding: 0;
  margin: 0;
}

.example__title {
  margin: 0 20px 41px;
  padding: 0;
  width: 200px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @t) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 59px 30px;
    width: 360px;

    @media (min-width: @d) {
      margin: 0 0 146px 70px;
    }
  }

}

.example__description {
  margin: 0 20px;
  padding: 0;
  font-family: @lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: @t) {
    font-size: 16px;
line-height: 24px;
margin: 0 0 0 30px;
width: 720px;

@media (min-width: @d) {
    margin: 0 0 14px 70px;
    width: 433px;
}
}
}

.example__container {
  margin: 0;
  padding: 0;

  @media (min-width: @t) {
      padding: 55px 30px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @d) {
     display: block;
     width: 440px;
     padding-bottom: 0;
  }
  }
}

.example__slider {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  height: 256px;

  @media (min-width: @t) {
    adding: 0;
    width: 100%;
    min-height: 648px;

    @media (min-width: @d) {
        width: 426px;
        min-height: 317px;
    }
}
}

.example__slider {
  margin: 0;
  padding: 0 20px;

  @media (min-width: @t) {
    padding: 0;
}
}


