.programs {
  margin: 0;
  padding: 0;
}

.options {
  margin: 0;
  padding: 0 20px;
}

.options__item {
  background-color: #F2F2F2;
  margin: 0;
  padding: 31px 0 14px 0;
  margin-bottom: 18px;
  list-style: none;
position: relative;
}

.options__item--slim {
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 20px 21px;
  background-size: 50px 53px;
}

.options__item--back {
  background-image: url("../img/cat-back.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
  background-size: 67px 50px;
}

.options__title {
  margin: 0 50px 29px 90px;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.options__description {
  font-family: @lato;
  color: #444444;
  max-width: 500px;
  margin: 0 20px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 22px;

}

.options__catalog {
  margin: 0 20px;
  padding: 19px 0  0;
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  min-height: 24px;
  color: #000000;
  text-decoration: none;
  position: relative;
  border-top: 1px solid #d9d9d9;
}

.options__catalog--arrow {
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 102px 21px;

}

.options__catalog--arrow2 {
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 98px 21px;
}
